colorama==0.4.6
comm==0.1.4
contourpy==1.1.0
cycler==0.11.0
debugpy==1.6.7.post1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
dpkt==1.9.8
Eel==0.14.0
gevent-websocket==0.10.1
greenlet==2.0.2
h11==0.14.0
humanize==4.9.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
macholib==1.16.2
MarkupSafe==2.1.3
mistune==3.0.1
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
nest-asyncio==1.5.7
netaddr==0.9.0
notebook==7.0.2
notebook_shim==0.2.3
numpy==1.25.2
outcome==1.3.0.post0
overrides==7.4.0
packaging==23.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.0.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pycurl==7.45.2
Pygments==2.16.1
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
selenium==4.16.0
socks==0
sortedcontainers==2.4.0
stem==1.8.2
tbselenium==0.8.0
traitlets==5.9.0
trio==0.23.1
trio-websocket==0.11.1
uri-template==1.3.0
urllib3==2.0.4
wcwidth==0.2.6
webcolors==1.13
webdriver-manager==4.0.1
wsproto==1.2.0